@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-serif: var(--font-merriweather);
  --font-hand: var(--font-gochi-hand);
  --font-handwritten: "Comic Sans MS", "Chalkboard SE", sans-serif;

  /* Palette Contrastée */
  --color-indigo-solid: #4338CA;
  --color-text-main: #111827;
  /* Gray 900 */
  --color-text-muted: #4B5563;
  /* Gray 600 - Readable */
}

:root {
  /* Palette "Collage Universitaire" */
  --background: #FDFBF7;
  /* Papier Grainé */
  --foreground: #111827;
  /* Noir Encre */

  --card: #FFFFFF;
  --card-foreground: #111827;

  --popover: #FFFFFF;
  --popover-foreground: #111827;

  --primary: #6D28D9;
  /* Violet Électrique */
  --primary-foreground: #FFFFFF;

  --secondary: #FDFF00;
  /* Jaune Surligneur */
  --secondary-foreground: #111827;

  --muted: #F3F4F6;
  --muted-foreground: #4B5563;

  --accent: #FDFF00;
  /* Jaune Surligneur (Double emploi) */
  --accent-foreground: #111827;

  --destructive: #EF4444;
  --destructive-foreground: #FFFFFF;

  --border: #000000;
  /* Bordures Noires Solides */
  --input: #FDFBF7;
  --ring: #6D28D9;

  --radius: 0rem;
  /* Pas de border-radius par défaut pour le style brutalist */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100' height='100' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
}

/* Utilities */
/* Utilities "Collage" */
.shadow-hard {
  box-shadow: 4px 4px 0px 0px #000000;
}

.shadow-hard-sm {
  box-shadow: 2px 2px 0px 0px #000000;
}

.rotate-scrappy {
  transform: rotate(-1deg);
}

.rotate-scrappy-reverse {
  transform: rotate(1deg);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}